# Basic commands

Edit mode >> text  # green
Command mode >> To give some command # blue
Esc >>  To change the mode from edit to command
M >> in command mode for Markdown
Markdown >> used fo heading
Raw NBconvert >> used for writing simple text
code >> used for writing line of code

B >> to create a new cell below the current
A >> to create a new cell above the current
DD >> Delete a cell

# Print function

## Print function

### Print function

#### Print function

print >> used to print some statements

In [1]:
print('  Hello            ')
print("   Python           ")
print('''  Data        ''')
print("""  Science        """)

  Hello
   Python
  Data
  Science

In [2]:
print("Welcome to Python and Data Science Class")

Welcome to Python and Data Science Class

Python and Data Science

In [4]:
print("Hello, I am Python")

Hello, I am Python

Ctrl + Enter >> To execute current cell
Alt + Enter >> To execute the current and create a new cell below
Shift + Enter >> To execute the current cell and to create a new cell if there is no cell below the current cell

In [5]:
print("Machine Learning")

Machine Learning

In [6]:
print("Machine Learning")

Machine Learning

# Heading

## Heading

### Heading

# Comments

In [ ]:
Ctrl + / >> to comment a single or number of lines

In [10]:
# print("1. We are learning Python and Data Science") 
# print("2. We are learning Python and Data Science")
print("3. We are learning Python and Data Science")
# print("4. We are learning Python and Data Science")
print("5. We are learning Python and Data Science")
# print("6. We are learning Python and Data Science")

3. We are learning Python and Data Science
5. We are learning Python and Data Science
6. We are learning Python and Data Science

In [13]:
a = 100
b = 20

# Addition of two numbers

c = a + b
c

120

In [19]:
print("1. We are learning Python and Data Science") 
print("2. We are learning Python and Data Science")
print("3. We are learning Python and Data Science")
print("4. We are learning Python and Data Science")
# print("5. We are learning Python and Data Science")
print("6. We are learning Python and Data Science")

1. We are learning Python and Data Science
2. We are learning Python and Data Science
3. We are learning Python and Data Science
4. We are learning Python and Data Science
6. We are learning Python and Data Science

In [17]:
print('Adddition of two numbers')

# Indentation

In [ ]:
Space at the beginning of the code

In [20]:
print("1. We are learning Python and Data Science")

1. We are learning Python and Data Science

In [21]:
                 print("1. We are learning Python and Data Science")

1. We are learning Python and Data Science

In [22]:
a = 100

if a > 50:   # True
    print("a is greater than 50")
    print("This condition is true")
    print(a)
    print("Hello")

a is greater than 50
This condition is true
100
Hello

In [25]:
a = 100

if a < 50:   # False
    print("a is greater than 50")
    print("This condition is true")
    print(a)
    print("Hello")
    

print("Hello")
print("Python and Data Science")

Hello
Python and Data Science

In [28]:
a = 100

if a > 50:   # True
    print("a is greater than 50")
#     print("This condition is true")
#     print(a)
    print("Hello")
    
    
 

print("*******************")
    

# print("Hello")
print("Python and Data Science")

a is greater than 50
Hello
*******************
Python and Data Science

In [30]:
if a > 50:
    print("Hello")

Hello

# Heading

In [ ]:
a = 100

if a>5:

In [2]:
print("Hello")
print('Data')

Hello
Data